/.github
/.vs

BattleShip.API/obj/debug/
BattleShip.API/obj/Debug/
BattleShip.API/obj/BattleShip.Models.csproj.nuget.dgspec.json

/BattleShip.API/bin
/BattleShip.API/BattleShip.API.csproj.user
/BattleShip.App/BattleShip.App.csproj.user

BattleShip.App/obj/BattleShip.App.csproj.nuget.dgspec.json
Battleship.Models/obj/debug/
Battleship.Models/obj/Battleship.Models.csproj.nuget.dgspec.json
