@page "/"
@inject HttpClient Http


<PageTitle>Home</PageTitle>

<button @onclick="StartGame">Démarrer un nouveau jeu</button>

@code {
    private async Task StartGame()
    {
        // Appel à l'API pour démarrer le jeu
        var response = await Http.GetAsync("start");
        // Traitement de la réponse et mise à jour de l'état du jeu
    }
}

